# >= python3.10
numpy~=1.26.4
sentencepiece~=0.2.0
transformers>=4.45.1,<5.0.0
gguf~=0.17.1
protobuf>=4.21.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.4.0,<=2.9.0; platform_machine != "s390x"
